.backgroudimg {
    width: 100%;
    height: 100%;
    background-image: url(../MusicChill/backgroud.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: rgb(38, 34, 49);
}