.backgroudimg {
    width: 100%;
    height: 100%;
    background-image: url(./backgroud.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: aqua;
}